<div class="ui centered card"  *ngFor="let article of page.content">
  <div class="content">
    <div class="header">
      <a routerLink="/article/{{article.id}}">{{article.title}}</a>
    </div>
    <div class="meta">
      <span><i class="calendar icon"></i>{{article.createTime | date:"yyyy-MM-dd HH:mm"}}</span>
      <span>
            <i class="folder icon"></i>
            <a href="/category/{{article.category.id}}" >{{article.category.name}}</a>
          </span>
    </div>

    <div clatr="description">
      <p [innerHTML]="article.summary">
      </p>
    </div>
  </div>
  <div class="extra content">
          <span>
            <i class="tags icon"></i>
           <span *ngFor="let tag of article.tags;let i = index">
             <a href="/tag/{{tag.id}}">{{tag.name}}</a><span *ngIf="i < article.tags.length-1">,</span>
           </span>
          </span>
    <span class="right floated">

            <a class="ui blue" routerLink="/article/{{article.id}}"e>阅读全文</a>
          </span>
  </div>
</div>
<blog-page [page]="page" (onCurrent_page)="onCurrent_page($event)"></blog-page>

